
<!--add
<div class="container">
    
    <div class="headings">
        <h2>Save more with GO! We give you the lowest prices on all your  needs.</h2>
        <h4></h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
        <h4>Our Goal</h4>
        <p>When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, Lorem Ipsum has been the industry's standard dummy text ever since.</p>
    </div>
    <img src="" alt="">
    </div>-->



<section class="vh-200" >
    <div class="container  py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
             
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-add fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Add</span>
                    </div>
  
                    
  
                    <div class="form-outline mb-4">
                      <input  [(ngModel)]="zudio.id" name="id" type="text"  class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">Id</label>
                    </div>
                  
                    <div class="form-outline mb-4">
                      <input [(ngModel)]="zudio.name" name="name" type="text"  class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27">Name</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input  [(ngModel)]="zudio.photo" name="photo" type="text"  class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Photo Url</label>
                      </div>
                    <div class="form-outline mb-4">
                        <input  [(ngModel)]="zudio.rate" name="rate" type="text" id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Rate</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input  [(ngModel)]="zudio.size" name="size" type="text" id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Size</label>
                      </div>
                      <div class="form-outline mb-4">
                        <select  [(ngModel)]="zudio.typeId" name="typeId"  id="" class="form-control">
                            <option  selected hidden disabled>{{zudio.typeId}}</option>
                            <option [value]="type.id"  *ngFor="let type of allTypes " >{{type.name}}</option>
                            
                        </select>
                      </div>
                     
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit" (click)="addZudio()">create</button>
                    </div>
  
                    
                    
                  </form>
  
                </div>
              </div>

              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/5556054/2018/6/14/cf00c361-0c7f-444d-80fe-f599c4bade741528960783276-HERENOW-Men-Kurtas-7331528960782000-1.jpg"
                  alt=""/>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
