<div class="container">
    <img [src]="zudio.photo" alt="">
    <div class="headings">
        <h1>Save more with GO! We give you the lowest prices on all your  needs.</h1>
        <h2><b>{{zudio.name}}</b></h2>
    
        <h4>{{typeName}}</h4>
        <h3>{{zudio.rate}}</h3>
        <h5>{{zudio.size}}</h5>
        <h6><i class="fa-solid fa-star-sharp"></i></h6>
    </div>
    </div>
  

<h1> <a routerLink="/" value="Go Back" class="" ><i class="fa-regular fa-chevrons-left-dark"></i></a></h1>
 